/* Import Google font - Audiowide */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    max-width: 535px;
    width: 100%;
    padding: 2rem 5rem;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .result-imgs img {
    width: 100px;
  }

  .container.start .user-img{
    transform-origin: left;
    animation: userShake 0.7s ease infinite;
  }

  .container.start .bot-img{
    transform-origin: right;
    animation: botShake 0.7s ease infinite;
  }

  .container.start .options-imgs{
    pointer-events: none;
  }
  
  .user-img img {
    transform: rotate(90deg);
  }
  
  .bot-img img {
    transform: rotate(-90deg) rotateY(180deg);
  }
  .result-imgs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 1.9rem; */
  }
  .result {
    text-align: center;
    font-size: 2rem;
    color: #7d2ae8;
    margin: 1.5rem 0;
  }
  
  .option-img img {
    width: 50px;
  }
  
  .options-imgs {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-evenly;
  }
  
  .option-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  /* .option-img:hover {
    opacity: 1;
  } */
  
  .option-img.active {
    opacity: 1;
  }
  
  .option-img img {
    pointer-events: none;
  }
  
  .option-img p {
    color: #7d2ae8;
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
  }
  
  @keyframes userShake {
    50%{
      transform: rotate(10deg);
    }
  }
  @keyframes botShake {
    50%{
      transform: rotate(-10deg);
    }
  }